
html {
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Mont', sans-serif; 
  font-style:normal;
}
/* Change the font size for <h1> when screen is less than 768px */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

.b-example-divider {
  height: 2rem;
  background-color: #ffffff;
  
  
}

/* main nav */
#navbarExample01 {
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 100%;
  height: 121px;
  flex-wrap: wrap;
  
}
.nav-btn {
  display: inline-block;

}
 .nav-item2 {
  margin-left: 300px;
  height: 50px;
  width: 440px;
  font-size: 24px;
  margin-top: 10px;


 }
.nav-link {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

 .sign-link{
  display: inline-block;
  background: #D5D984;
  color: #000000;
  border-color: #000000;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 18px;
  padding: 15px 15px;
  text-align: center;
width: 213px;
height: 48px;
border-radius: 5px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.sign-link:hover {
  color: #3E6C72;
  background: #D5D984;
  border-color: #000000;
  text-decoration: underline;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-link:focus {
  color: #000000;
  background: #BADAD5!important;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.sign-link:active {
  color: #000000;
  background: #D8BDF2!important;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-link:disabled {
  color: #000000;
  background: #B5B5B5;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

/* profiles */

.container py-5 {
    display: flex; /* use flexbox to make columns align next to each other */
    font-family: 'Mont', sans-serif;  
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    }


/* mentee profile */
/* <---- photo/info ---> */

.card-body {
  width: 30vw;
height: 30vw;
overflow: hidden;
margin-left: 0px;
padding-left: 20px;
}

.card-body img {
  object-fit: contain;
}

.mb-8-1 {
  width: 100%;
  max-width: 747.75;
  height: 100%;
  max-height: 515.09375px;
  box-sizing: border-box;
  overflow: auto;

}
.card-body2 {
  
  font-family: 'Mont', sans-serif;  
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 800.375;
  height: 100%;
  max-height: 515.09375px;
  box-sizing: border-box;
  overflow: auto;

  color: #000000;

}

.my-3 {
  font-family: 'Mont', sans-serif; 
  font-style:normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 18px;
  padding-top: 63px;
  color: #000000;

}


.text-muted {
  color: #000000!important;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;

}

.text-muted-1 {
  color: #000000;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 42px;
}

.btn-primary{
  background: #D5D984;
  color: #000000;
  border-color: #000000;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  padding: 15px 20px;
gap: 10px;
width: 100%;
max-width: 216px;
  max-height: 62px;
height: 100%;
border-radius: 5px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin-right: 10px;
}

.btn-primary:hover {
  color: #3E6C72;
  background: #D5D984;
  border-color: #000000;
  text-decoration: underline;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-primary:focus {
  color: #000000;
  background: #BADAD5!important;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.btn-primary:active {
  color: #000000;
  background: #D8BDF2!important;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-primary:disabled {
  color: #000000;
  background: #B5B5B5;
  border-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

/* <---- about section ---> */
.col-lg-13 {
  left: 170px;
  width: 100%;
  max-width: 1465px;
  height: 100%;
  max-height: 1025px;
}


.card-body3 {
  
  width: 100%;
  max-width: 1455px;
  height: 100%;
  max-height: 800px;

  top: 10px;

}

.mb-4 {
  font-family: 'Mont', sans-serif; 
  font-style:normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 18px;
  color: #000000;

}


.abtMe, .glist {
  color: #000000;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 42px;
  position: absolute;
}


.mb-5 {
  font-family: 'Mont', sans-serif; 
  font-style:normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 18px;
  color: #000000;

}

.card-body3{
padding: 0;

}

.btn-sec {
  display: inline-block;
  background: #FFB88E;

  color: #000000;
  font-family: 'Mont', sans-serif; 
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
 
height: 62px;
  line-height: 32px;
  padding: 15px 20px;

border-radius: 40px;
outline: none;
margin-top: 235px;


@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
}


@media (min-width: 1200px)
{
.container {
max-width: 1140px;
}}
@media (min-width: 992px)
{.container {
max-width: 960px;
}}
@media (min-width: 768px)
{.container {
max-width: 720px;
}}
@media (min-width: 576px)
{.container {
max-width: 540px;
}}



/* mentor profile */
/* <---- photo/info/social ---> */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
  max-width: 1292px;
  
  }

  .column-1 {
  left: -112px;
  width: 375px; 
  height: 400px;

  }
  .column-2 {
    font-family: 'Mont', sans-serif;  
    width: 855px; 
    height: 400px;
  }

  @media (max-width: 768px) {
    .column-1,
    .column-2{
      width: 100%;
    }}

/* <---- about me / goals ---> */

  .section-container{
    display: flex;
    position: absolute;
    background-color: #ffffff;
    font-family: 'Mont', sans-serif;  
width: 1292px;
height: 1000px;
left: 85px;
top: 680px;
z-index: 1;
  }

  .sections {
    position: relative;
    width: 548px;
height: 1003px;
text-align: center;
background-color: #ccc;

  }

  .section-1 {
    display: flex;
    position:absolute;
    top: 60px;
  left: 0;
    padding: 20px;
    
  }

  .section-2 {
    display: flex;
    position:absolute;
    top: 500px;
    left: 0px;
    padding: 20px;
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    .section-1, .section-2{
      display: flex;
      max-width: 100%;
      padding: 10px;
    }
  }

/* <---- calendar ---> */
.dropdown-menu {
  position:relative;
  left: 300x;
  height: 354px;
  top: 1500px;
  
  
}

.dropdown-item-danger {
  color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.btn-hover-light {
  background-color: var(--bs-white);
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-blue);
  background-color: var(--bs-light);
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;

}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}


.w-220px {
  width: 220px;
}

.w-280px {
  width: 280px;
}

.w-340px {
  width: 340px;
}

.w-600px {
  width: 600px;
}


/* <---- footer ---> */  
footer {
  color: #000000!important;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: #3E6C72;
  
}
.nav-item1 {
  text-decoration: none;
  font-family: 'Mont', sans-serif; 
  font-style:normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 20px;

}

a {
  color: #ffffff;
}

a:hover {
  color:#D5D984;
}

.copyright {
  font-family: 'Mont', sans-serif; 
  font-style:normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

}

