@import url('https://fonts.cdnfonts.com/css/mont'); 

/* mentee profile */

.container py-5 {
    display: flex; /* use flexbox to make columns align next to each other */
    font-family: 'Mont', sans-serif;

  }
  
  .col-lg-12 {
    height: 100%; /* set height to 100% so both columns are the same height */
    font-family: 'Mont', sans-serif;

  }

  /* mentor profile */
  .section-container{
    display: flex;
  }
  .section-1, .section-2{
    flex-basis: 50%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Mont', sans-serif;
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    .section-1, .calendar-widget {
      display: flex;
      flex-basis: 50%;
      max-width: 100%;
      padding: 10px;
    }
  }

/* mentor profile calendar */
  .calendar-widget {
    display: flex;
    flex-basis: 50%;
    font-family: 'Mont', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    align-items: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-title {
    margin: 0;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table th {
    font-weight: normal;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .calendar-table td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .calendar-table td:hover {
    background-color: #eee;
  }
  
  .prev-month,
  .next-month {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .prev-month:hover,
  .next-month:hover {
    color: #ccc;
  }
  